.album {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// navbar
.album__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.album__logo {
  height: 12vh;
  margin: 1rem 0;
}
.album__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #767674;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
.album__content {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;
  gap: 2rem;
  p {
    font-weight: 300;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
  }
}
#album {
  width: 100%;
}

// FOOTER
.album__footer {
  width: 10%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:link,
  a:visited {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  a:hover {
    color: #767674;
  }
  .fab,
  .far {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 880px) {
  .album__content {
    width: 90vw;
  }
  .album__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .album__footer {
    width: 15%;
  }
}
@media screen and (max-width: 600px) {
  .album__content {
    width: 95vw;
  }
  .album__footer {
    width: 25%;
  }
}
