.contact {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
//=========================
//        NAVBAR
//=========================
.contact__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact__logo {
  height: 12vh;
  margin: 1rem 0;
}
.contact__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #767674;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
.contact__content {
  max-width: 1160px;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;
  margin-top: 7rem;
}
.contact__header {
  margin-bottom: 5rem;
  text-align: center;
}
#contact__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  .contact__detail {
    display: block;
  }
  .contact__input {
    display: block;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }
  .input__text {
    display: block;
    width: 100%;
    height: 8rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }
}
input[type='text'] {
  background-color: #fdfdfd;
  border: solid 0.5px grey;
  padding-left: 1rem;
}
input[type='email'] {
  background-color: #fdfdfd;
  border: solid 0.5px grey;
  padding-left: 1rem;
}
.contact__btn {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  align-self: center;
  color: white;
  background-color: black;
  outline: none;
  border: none;
}

//=========================
//        FOOTER
//=========================
.contact__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    color: #c0c0bf;
  }
  .fab,
  .far {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 880px) {
  .contact__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .contact__footer {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .contact__footer {
    width: 35%;
  }
}
