.gallery {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
//=========================
//        NAVBAR
//=========================
.gallery__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.gallery__logo {
  height: 12vh;
  margin: 1rem 0;
}
.gallery__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #767674;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
.gallery__content {
  max-width: 1150px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  margin-top: 7rem;
  gap: 2rem;
  p {
    font-weight: 300;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
  }
}
.gallery__thumb {
  height: 200px;
  width: 300px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.gallery__desc {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.664);
  transform: translateY(110%);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.gallery__thumb:hover .gallery__desc {
  transform: translateY(0);
}
.thumb1 {
  background: url('../images/gallery/link/01.jpg');
  background-repeat: no-repeat;
}
.thumb2 {
  background: url('../images/gallery/link/02.jpg');
  background-repeat: no-repeat;
}
.thumb3 {
  background: url('../images/gallery/link/03.jpg');
  background-repeat: no-repeat;
}
.thumb4 {
  background: url('../images/gallery/link/04.jpg');
  background-repeat: no-repeat;
}
.thumb5 {
  background: url('../images/gallery/link/05.jpg');
  background-repeat: no-repeat;
}
.thumb6 {
  background: url('../images/gallery/link/06.jpg');
  background-repeat: no-repeat;
}
.thumb7 {
  background: url('../images/gallery/link/07.jpg');
  background-repeat: no-repeat;
}
.thumb8 {
  background: url('../images/gallery/link/08.jpg');
  background-repeat: no-repeat;
}
.thumb9 {
  background: url('../images/gallery/link/09.jpg');
  background-repeat: no-repeat;
}
.thumb10 {
  background: url('../images/gallery/link/10.jpg');
  background-repeat: no-repeat;
}
.thumb11 {
  background: url('../images/gallery/link/11.jpg');
  background-repeat: no-repeat;
}
.thumb12 {
  background: url('../images/gallery/link/12.jpg');
  background-repeat: no-repeat;
}
.thumb13 {
  background: url('../images/gallery/link/13.jpg');
  background-repeat: no-repeat;
}
.thumb14 {
  background: url('../images/gallery/link/14.jpg');
  background-repeat: no-repeat;
}
.thumb15 {
  background: url('../images/gallery/link/15.jpg');
  background-repeat: no-repeat;
}

//=========================
//        FOOTER
//=========================
.gallery__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    color: #c0c0bf;
  }
  .fab,
  .far {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 880px) {
  .gallery__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .gallery__footer {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .gallery__footer {
    width: 35%;
  }
}
