*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: whitesmoke;
  font-family: 'europa', sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}
