/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100vw;
  height: 100vh;
}

.img1 {
  background: url(../images/home/01.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img2 {
  background: url(../images/home/02.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img3 {
  background: url(../images/home/03.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img4 {
  background: url(../images/home/04.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img5 {
  background: url(../images/home/05.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img6 {
  background: url(../images/home/06.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img7 {
  background: url(../images/home/07.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}
.img8 {
  background: url(../images/home/08.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.541);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  // user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;
  transform: scale(2);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// navbar
.home__navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__logo {
  height: 15vh;
}
.home__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
@media screen and (max-width: 1024px) {
  .home__navbar {
    flex-direction: column;
  }
  .home__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .img5 {
    background-size: cover;
    background-position: 70% 70%;
  }
}
