/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

//=========================
//        NAVBAR
//=========================
.home__navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__logo {
  height: 12vh;
}
.home__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
  }
  a:hover {
    color: rgb(221, 221, 221);
  }
}
@media screen and (max-width: 1024px) {
  .home__navbar {
    flex-direction: column;
  }
  .home__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .img5 {
    background-size: cover;
    background-position: 70% 70%;
  }
}
@media screen and (max-width: 600px) {
  .intro-slideshow img:nth-child(5) {
    object-position: 70% 70%;
  }
  .intro-slideshow img:nth-child(6) {
    object-position: 60% 60%;
  }
}
