@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: rgb(235, 3, 3);
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  padding: 20px 100px;
  z-index: 1000;
}
#logo {
  height: 100%;
}
header ul {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
header li {
  position: relative;
  list-style: none;
  margin-left: 40px;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.imgBx img {
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.8s ease-in;
}
.imgBx img.active {
  opacity: 1;
}
.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
}
.controls li {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  list-style: none;
  cursor: pointer;
  opacity: 0.5;
}
.controls li:hover {
  background: #ffeb3b;
  opacity: 1;
}
.controls li:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}
.controls li:nth-child(2):before {
  transform: rotate(225deg);
}
