.portfolio {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
//=========================
//        NAVBAR
//=========================
.portfolio__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.portfolio__logo {
  height: 12vh;
  margin: 1rem 0;
}
.portfolio__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #767674;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
.portfolio__content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  p {
    font-weight: 300;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
  }
}
#bride-getting-ready,
#groom-getting-ready,
#ceremony,
#family,
#bridal-party,
#creative,
#reception,
#engagement,
#golden,
#detail {
  width: 1000px;
  margin: 2rem 0 3rem 0;
}

//=========================
//        NAVBAR
//=========================
.portfolio__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    color: #c0c0bf;
  }
  .fab,
  .far {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 880px) {
  .portfolio__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .portfolio__footer {
    width: 25%;
  }
  #bride-getting-ready,
  #groom-getting-ready,
  #ceremony,
  #family,
  #bridal-party,
  #creative,
  #reception,
  #engagement,
  #golden,
  #detail {
    width: 800px;
  }
}
@media screen and (max-width: 600px) {
  #bride-getting-ready,
  #groom-getting-ready,
  #ceremony,
  #family,
  #bridal-party,
  #creative,
  #reception,
  #engagement,
  #golden,
  #detail {
    width: 600px;
  }
  .portfolio__footer {
    width: 35%;
  }
}
