.thankyou {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// navbar
.thankyou__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.thankyou__logo {
  height: 12vh;
  margin: 1rem 0;
}
.thankyou__nav-links {
  width: 45%;
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
  a:link,
  a:visited {
    text-decoration: none;
    color: #767674;
    text-transform: uppercase;
    font-weight: 400;
  }
  a:hover {
    color: rgb(186, 186, 186);
  }
}
.thankyou__content {
  max-width: 1160px;
  min-height: 60vh;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 400;
    text-align: center;
  }
  p {
    font-weight: 200;
    margin-top: 2rem;
    text-align: center;
  }
}

// FOOTER
.thankyou__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a:link,
  a:visited {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    color: #c0c0bf;
  }
  .fab,
  .far {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 880px) {
  .thankyou__nav-links {
    width: 95%;
    margin-top: 1rem;
    a {
      font-size: 1rem;
    }
  }
  .thankyou__footer {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .thankyou__footer {
    width: 35%;
  }
  .thankyou__content {
    h2,
    p {
      margin: 0 1rem;
    }
  }
}
