*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: whitesmoke;
  font-family: 'europa', sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}

.about {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__logo {
  height: 12vh;
  margin: 1rem 0;
}

.about__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__nav-links li {
  list-style: none;
}

.about__nav-links a:link,
.about__nav-links a:visited {
  text-decoration: none;
  color: #767674;
  text-transform: uppercase;
  font-weight: 400;
}

.about__nav-links a:hover {
  color: #bababa;
}

.about__content {
  max-width: 1160px;
  min-height: 100vh;
  margin-top: 7rem;
}

.about__content h4 {
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: justify;
  color: #4a4a4a;
}

.about__content p {
  font-weight: 300;
  line-height: 1.6rem;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  color: #4a4a4a;
}

.about-me {
  max-width: 1160px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me .about-me__content {
  margin-left: 2rem;
}

.about__link:link,
.about__link:visited {
  color: #1c1c1c;
}

.about__link:hover {
  color: #afafaf;
}

.about__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__footer a:link,
.about__footer a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__footer a:hover {
  color: #c0c0bf;
}

.about__footer .fab,
.about__footer .far {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .about__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .about__nav-links a {
    font-size: 1rem;
  }
  .about__footer {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .about__footer {
    width: 35%;
  }
}

.contact {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__logo {
  height: 12vh;
  margin: 1rem 0;
}

.contact__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__nav-links li {
  list-style: none;
}

.contact__nav-links a:link,
.contact__nav-links a:visited {
  text-decoration: none;
  color: #767674;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__nav-links a:hover {
  color: #bababa;
}

.contact__content {
  max-width: 1160px;
  min-height: 100vh;
  margin-top: 7rem;
}

.contact__header {
  margin-bottom: 5rem;
  text-align: center;
}

#contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact__form .contact__detail {
  display: block;
}

#contact__form .contact__input {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

#contact__form .input__text {
  display: block;
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

input[type='text'] {
  background-color: #fdfdfd;
  border: solid 0.5px grey;
}

input[type='email'] {
  background-color: #fdfdfd;
  border: solid 0.5px grey;
}

.contact__btn {
  cursor: pointer;
  display: inline-block;
  width: 30%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  background-color: black;
  outline: none;
  border: none;
}

.contact__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__footer a:link,
.contact__footer a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__footer a:hover {
  color: #c0c0bf;
}

.contact__footer .fab,
.contact__footer .far {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .contact__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .contact__nav-links a {
    font-size: 1rem;
  }
  .contact__footer {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .contact__footer {
    width: 35%;
  }
}

.gallery {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__logo {
  height: 12vh;
  margin: 1rem 0;
}

.gallery__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__nav-links li {
  list-style: none;
}

.gallery__nav-links a:link,
.gallery__nav-links a:visited {
  text-decoration: none;
  color: #767674;
  text-transform: uppercase;
  font-weight: 400;
}

.gallery__nav-links a:hover {
  color: #bababa;
}

.gallery__content {
  width: 1150px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7rem;
  gap: 2rem;
}

.gallery__content p {
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.gallery__thumb {
  height: 200px;
  width: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.gallery__desc {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.664);
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.gallery__thumb:hover .gallery__desc {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.thumb1 {
  background: url("../images/gallery/link/01.jpg");
  background-repeat: no-repeat;
}

.thumb2 {
  background: url("../images/gallery/link/02.jpg");
  background-repeat: no-repeat;
}

.thumb3 {
  background: url("../images/gallery/link/03.jpg");
  background-repeat: no-repeat;
}

.thumb4 {
  background: url("../images/gallery/link/04.jpg");
  background-repeat: no-repeat;
}

.thumb5 {
  background: url("../images/gallery/link/05.jpg");
  background-repeat: no-repeat;
}

.thumb6 {
  background: url("../images/gallery/link/06.jpg");
  background-repeat: no-repeat;
}

.thumb7 {
  background: url("../images/gallery/link/07.jpg");
  background-repeat: no-repeat;
}

.thumb8 {
  background: url("../images/gallery/link/08.jpg");
  background-repeat: no-repeat;
}

.thumb9 {
  background: url("../images/gallery/link/09.jpg");
  background-repeat: no-repeat;
}

.thumb10 {
  background: url("../images/gallery/link/10.jpg");
  background-repeat: no-repeat;
}

.thumb11 {
  background: url("../images/gallery/link/11.jpg");
  background-repeat: no-repeat;
}

.thumb12 {
  background: url("../images/gallery/link/12.jpg");
  background-repeat: no-repeat;
}

.thumb13 {
  background: url("../images/gallery/link/13.jpg");
  background-repeat: no-repeat;
}

.thumb14 {
  background: url("../images/gallery/link/14.jpg");
  background-repeat: no-repeat;
}

.thumb15 {
  background: url("../images/gallery/link/15.jpg");
  background-repeat: no-repeat;
}

.gallery__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__footer a:link,
.gallery__footer a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__footer a:hover {
  color: #c0c0bf;
}

.gallery__footer .fab,
.gallery__footer .far {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .gallery__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .gallery__nav-links a {
    font-size: 1rem;
  }
  .gallery__footer {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .gallery__footer {
    width: 35%;
  }
}

/* Slideshow container */
.slideshow-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
}

.home__navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__logo {
  height: 12vh;
}

.home__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__nav-links li {
  list-style: none;
}

.home__nav-links a:link,
.home__nav-links a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.home__nav-links a:hover {
  color: #dddddd;
}

@media screen and (max-width: 1024px) {
  .home__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .home__nav-links a {
    font-size: 1rem;
  }
  .img5 {
    background-size: cover;
    background-position: 70% 70%;
  }
}

.portfolio {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__logo {
  height: 12vh;
  margin: 1rem 0;
}

.portfolio__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__nav-links li {
  list-style: none;
}

.portfolio__nav-links a:link,
.portfolio__nav-links a:visited {
  text-decoration: none;
  color: #767674;
  text-transform: uppercase;
  font-weight: 400;
}

.portfolio__nav-links a:hover {
  color: #bababa;
}

.portfolio__content {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.portfolio__content p {
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

#bride-getting-ready,
#groom-getting-ready,
#ceremony,
#family,
#bridal-party,
#creative,
#reception,
#engagement,
#golden,
#detail {
  width: 1000px;
  margin: 2rem 0 3rem 0;
}

.portfolio__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__footer a:link,
.portfolio__footer a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__footer a:hover {
  color: #c0c0bf;
}

.portfolio__footer .fab,
.portfolio__footer .far {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .portfolio__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .portfolio__nav-links a {
    font-size: 1rem;
  }
  .portfolio__footer {
    width: 25%;
  }
  #bride-getting-ready,
  #groom-getting-ready,
  #ceremony,
  #family,
  #bridal-party,
  #creative,
  #reception,
  #engagement,
  #golden,
  #detail {
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  #bride-getting-ready,
  #groom-getting-ready,
  #ceremony,
  #family,
  #bridal-party,
  #creative,
  #reception,
  #engagement,
  #golden,
  #detail {
    width: 600px;
  }
  .portfolio__footer {
    width: 35%;
  }
}

.album {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__navbar {
  width: 100vw;
  height: 15vh;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.album__logo {
  height: 12vh;
  margin: 1rem 0;
}

.album__nav-links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.album__nav-links li {
  list-style: none;
}

.album__nav-links a:link,
.album__nav-links a:visited {
  text-decoration: none;
  color: #767674;
  text-transform: uppercase;
  font-weight: 400;
}

.album__nav-links a:hover {
  color: #adadad;
}

.album__content {
  width: 90vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7rem;
  gap: 2rem;
}

.album__content p {
  font-weight: 300;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

#album {
  width: 100%;
}

.album__footer {
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__footer a:link,
.album__footer a:visited {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album__footer a:hover {
  color: #c0c0bf;
}

.album__footer .fab,
.album__footer .far {
  font-size: 1.1rem;
}

@media screen and (max-width: 880px) {
  .album__content {
    width: 90vw;
  }
  .album__nav-links {
    width: 95%;
    margin-top: 1rem;
  }
  .album__nav-links a {
    font-size: 1rem;
  }
  .album__footer {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .album__content {
    width: 95vw;
  }
  .album__footer {
    width: 35%;
  }
}
/*# sourceMappingURL=styles.css.map */